**/.console_history
**/banned-ips.json
**/banned-players.json
**/ops.json
**/usercache.json
**/version_history.json
**/whitelist.json
**/cache
**/logs
**/world
**/world_nether
**/world_the_end
**/*.jar
**/modules
**/modules.yml
**/locations.yml
!**/plugins/*.jar